<div class="modal-shadow modify-password-wrap">
    <div class="modal-content">
        <h2 class="modal-title">
            修改密码
            <span class="modal-close" (click)="cancelModify()"></span>
        </h2>
        <p class="modal-input modify-password-input modify-password-input-1">
            <input class="input-focus" type="password" [(ngModel)]="oldPassword" placeholder="请输入现有密码">
        </p>
        <p class="modal-input modify-password-input">
            <input class="input-focus" type="password" [(ngModel)]="newPassword" placeholder="请输入新密码">
        </p>
        <p class="modal-input">
            <input class="input-focus" type="password" [(ngModel)]="newPasswordRepeat" placeholder="请再次输入新密码">
        </p>
        <p class="modal-btn">
            <button type="button" (click)="cancelModify()" class="btn-cancel btn-white">取消</button>            
            <button type="button" (click)="confirmModify()" class="btn-confirm btn-active">确定</button>
        </p>
    </div>
</div>