<div class="modal-shadow">
    <div class="modal-content">
        <h2 class="modal-title">
            {{info.title}}
            <span class="modal-close" (click)="modalTip()"></span>
        </h2>
        <p class="modal-warn-tip">{{info.tip}}</p>
        <p class="modal-btn">
            <button *ngIf="!info.button" type="button" (click)="modalTip()" class="btn-cancel btn-white">取消</button>
            <button *ngIf="!info.button" type="button" (click)="modalTip(info)" class="btn-confirm btn-active">确定</button>            
            <button *ngIf="info.button && info.button === 'confirm'" type="button" (click)="modalTip()" class="btn-confirm btn-active">确定</button>
        </p>
    </div>
</div>