.search-member-search{
    height: 30px;
    position: relative;
    >input{
        width: 100%;
        height: 30px;
        background: #F2F6FB;
        border-radius: 3px;
        box-sizing: border-box;
        padding-left: 10px;
        border: 1px solid transparent;
    }
    >span{
        width: 38px;
        height: 30px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../../../assets/images/search-user.png) center center no-repeat;
        background-size: 14px;
        cursor: pointer;
    }
    >p{
        position: absolute;
        top: 9px;
        right: 39px;
        cursor: pointer;
        display: block;
        width: 12px;
        height: 12px;
        background: url(../../../assets/images/search-user-delete.png) center center no-repeat;
        background-size: 12px;
    }
    .search-member-no-serach-data{
        line-height: 80px;
        height: 80px;
        background-color: #fff;
        position: absolute;
        z-index: 4;
        width: 100%;
        top: 36px;
        right: 0;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        font-size: 14px;
        color: #2C2C2C;
        text-align: center;
    }
    .search-member-scroll-search{
        position: absolute;
        top: 36px;
        width: 100%;
        line-height: 40px;
        left: 0;
        z-index: 1;
        background: #fff;
        line-height: 50px;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        max-height: 275px;
        ul{
            .search-member-search-result{
                &:hover{
                    background-color: #F2F6FB;
                }
                div{
                    width: 30px;
                    height: 30px;
                    margin: 10px 10px 0 10px;
                    img{
                        width: 100%;
                    }
                }
                .search-member-checkbox{
                    position: relative;
                    margin: 19px 20px 0 0;
                    cursor: pointer;
                    &:after{
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
                        background: #fff url(../../../assets/images/select-member-normal.png) center center no-repeat;
                        background-size: 24px;
                        position: absolute;
                        top: -6px;
                        left: -6px;
                        border-radius: 12px;
                    }
                    // &:hover:after{
                    //     background: #fff url(../../../assets/images/select-member-active.png) center center no-repeat;
                    // }
                    &:checked:after{
                        background: #fff url(../../../assets/images/select-member-active.png) center center no-repeat;
                    }
                }
            }
        }
    }
}